/* Quita los espacios por defecto del navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilo general del fondo y centrado del formulario */
body {
    background-color: #9da1a5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Tarjeta blanca donde está el login */
.login-card {
    background-color: #ffffff;
    width: 500px;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Espacio del logo */
.logo-section {
    margin-bottom: 35px;
}

/* Tamaño del logo */
.logo {
    width: 300px;
    height: auto;
}

/* Estilo de los campos de texto */
.input-user,
.input-password {
    text-align: left;
    margin-bottom: 22px;
}

/* Texto de los labels */
.input-user label,
.input-password label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
    color: #666;
}

/* Estilo de los inputs */
.input-information input {
    width: 100%;
    padding: 14px 16px;
    background-color: #f2f4f7;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
}

/* Color del texto del placeholder */
.input-information input::placeholder {
    color: #b0b5b9;
}

/* Botón de iniciar sesión */
.btn-signin {
    width: 100%;
    margin-top: 25px;
    padding: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

/* Cambio de color cuando se pasa el mouse */
.btn-signin:hover {
    background-color: #2980b9;
}

/* Texto que aparece al final */
.footer-text {
    margin-top: 50px;
    font-size: 13px;
    color: #555;
}

/* Estilo del enlace */
.footer-text a {
    color: #3498db;
    font-weight: 600;
    text-decoration: none;
}

/* Subrayado cuando se pasa el mouse */
.footer-text a:hover {
    text-decoration: underline;
}

/* Añadir esto al final de style_session.css /Kenny añadio esto para el register*/
h2 {
    color: #555;
    font-size: 24px;
    margin-bottom: 10px;
}
