# SISTEMA OPERATIVO
.DS_Store
Thumbs.db

# IDEs / EDITORES
.vscode/
.idea/
*.swp

# LOGS
*.log

# VARIABLES DE ENTORNO
.env
.env.*
!.env.example

# BACKEND - PYTHON
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
pip-wheel-metadata/
pytest_cache/

# DOCKER
*.tar
docker-data/
