version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_siglab
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Clubpengui1
      MYSQL_DATABASE: proyecto_maquinas
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  # (Opcional) Si también quieres levantar mongo aquí
  mongo:
    image: mongo:latest
    container_name: mongo_siglab
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mysql_data:
  mongo_data: