<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Actualizar Máquina - SIGLAB</title>
    <link rel="stylesheet" href="/static/css/style_formulario1.css?v=1.1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <div class="modal-overlay">
        <div class="modal-head">
            <h2 class="modal-content-head">Actualizar Máquina</h2>

            <form class="form" id="form-actualizar">
                <div class="form-content">
                    <label>Tipo de Equipo:</label>
                    <!-- Campo bloqueado - no se puede modificar -->
                    <select id="tipo_equipo" disabled>
                        <option value="">Selecciona</option>
                        <option value="PC">Computadora</option>
                        <option value="IMP">Impresora</option>
                    </select>

                    <div class="form-content">
                        <label>Código del equipo</label>
                        <!-- Campo bloqueado - no se puede modificar -->
                        <input type="text" id="codigo" placeholder="Ingresa código" disabled>
                    </div>

                    <div class="form-content">
                        <label>Estado actual</label>
                        <!-- Este es el único campo que se puede modificar -->
                        <select id="estado_actual">
                            <option value="">Selecciona</option>
                            <option value="operativa">Operativa</option>
                            <option value="Fuera de servicio">Fuera de servicio</option>
                            <option value="dada de baja">Dada de baja</option>
                        </select>
                    </div>
                </div>

                <div class="form-content">
                    <label>Área</label>
                    <!-- Campo bloqueado - no se puede modificar -->
                    <input type="text" id="area" placeholder="Ingresa el área" disabled>
                </div>

                <div class="form-content">
                    <label>Fecha de adquisición</label>
                    <!-- Campo bloqueado - no se puede modificar -->
                    <input type="date" id="fecha" disabled>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn-save">Actualizar</button>
                    <button type="button" id="btn-cancel-action" class="btn-cancel">Cancelar</button>
                </div>
            </form>
        </div>
    </div>

    <script src="/static/javascript/actualizar.js"></script>
</body>

</html>
