<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>SIGLAB - Página Principal</title>

        <!-- Importación del archivo CSS para los estilos de la página-->
        <link rel="stylesheet" href="/static/style_ventana1.css">
    </head>
    <body>
        <!--Encabezado superior-->
        <header class="main-header">
            <!--Sección del usuario-->
            <div class="user-profile">
                <div class="avatar">
                    <img src="/static/icono_user.png"/>
                </div>
            </div>
            <!--Botón para cerrar sesión-->
            <div class="logout-section">
                <button type="button" id="btn-logout-off" class="btn-logout">
                    Cerrar Sesión
                    <img src="/static/icono_cerrar_sesion.png" />
                </button>
            </div>
        </header>

        <!--Contenido principal de la página-->
        <main class="content">
            <!--Barra superior con botón-->
            <div class="top-bar">
                <button type="button" class="btn-create">
                    + Crear Espacio
                </button>
            </div>
            <!--Título principal-->
            <h1 class="title">Tu espacio de trabajo</h1> 
            <!--Contenedor de tarjetas-->
            <div class="cards-conta">
                <!-- Tarjeta de espacio de trabajo -->
                <a href="/home/maquinas" class="card-target">
                    <div class="card-space">
                        <div class="card-icon">
                            <img src="/static/icono_maquina.png" />
                        </div>
                        <!--Información de equipo-->
                        <div class="card-info">
                            <h3>Laboratorio de Redes</h3>
                            <p><strong>Ubicación:</strong> Edificio A - Piso 2</p>
                            <p><strong>Entidad:</strong> FICA - Ing. en Sistemas</p>
                            <p><strong>N° Equipos:</strong> 25</p>
                        </div>
                    </div>
                </a>
            </div>
        </main>

        <!--Pie de página-->
        <footer class="main-footer">
            <div class="footer-logo">
                <img src="/static/Logo b-n.png" alt="SIGLAB Logo">
            </div>
        </footer>
        <script src="/static/session.js"></script>
    </body>

    
    </html>
