<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>SIGLAB - Detalle de Máquina</title>
    <link rel="stylesheet" href="/static/css/style_ventana2.css">
</head>
<body>
    <header class="main-header">
        <div class="user-profile">
            <div class="avatar">
                <img src="/static/img/icono_user.png" alt="Usuario">
            </div>
        </div>
        
        <div class="logout-section">
            <button id="btn-logout-off" class="btn-logout" style="background:none; border:none; color:white; cursor:pointer;">
                <i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión
            </button>
        </div>
        </header>

    <main class="content">
        <div class="action-bar">
            <div class="left-actions">
                <button id="btn-create-machine" class="btn-create">Agregar Máquina</button>
                <button id="btn-action-report" class="btn-create">Generar Reporte</button>
                <button id="btn-return-action" class="btn-create">Regresar</button>
            </div>
            <div class="search-container">
                <input type="text" id="input-busqueda" placeholder="Buscar equipo...">
            </div>
            </div>
            <div id="contenedor-principal-maquinas">
            </div>
    </main>

    <footer class="main-footer">
        <div class="footer-logo">
            <img src="/static/img/Logo b-n.png" alt="SIGLAB Logo">
        </div>
    </footer>

    <script src="/static/javascript/mantenimiento.js"></script>
    <script src="/static/javascript/ventana.js"></script>
    <script src="/static/javascript/session.js"></script>
    </body>
</html>